footer
    img.footer-logo(src="/assets/images/logo/footer-logo.png", alt="Backfeed Logo")
    form.subscribe-form(
        action="//backfeed.us11.list-manage.com/subscribe/post?u=bd91582a4e889f710affca0e6&amp;id=040512b5ed",
        method="post",
        name="mc-embedded-subscribe-form",
        target="_blank",
        novalidate
    )
        .form-group
            label.sr-only(for="mce-EMAIL") Subscribe to our mailing list
            input#mce-EMAIL.form-control.form-control-lg(type="email", value="", name="EMAIL", placeholder="Email", required)
        input(type="hidden", name="b_bd91582a4e889f710affca0e6_040512b5ed", tabindex="-1", value="")
        .text-xs-center
            input.btn.btn-primary(type="submit", value="Subscribe", name="subscribe")
    hr
    h3.footer-title Community
    ul.community.list-unstyled
        li
            a(href="mailto:info@backfeed.cc", target="_blank")
                span.fa-stack
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-envelope.fa-stack-1x.fa-inverse
                | Email us
        li
            a(href="http://github.com/backfeed", target="_blank")
                span.fa-stack
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-github.fa-stack-1x.fa-inverse
                | GitHub
        li
            a(href="http://twitter.com/backfeed_cc", target="_blank")
                span.fa-stack
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-twitter.fa-stack-1x.fa-inverse
                | Twitter
        li
            a(href="http://facebook.com/backfeed_cc", target="_blank")
                span.fa-stack
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-facebook.fa-stack-1x.fa-inverse
                | Facebook
        li
            a(href="http://youtube.com/backfeed", target="_blank")
                span.fa-stack
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-youtube-play.fa-stack-1x.fa-inverse
                | YouTube
        li
            a(href="http://linkedin.com/company/backfeed", target="_blank")
                span.fa-stack
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-github.fa-stack-1x.fa-inverse
                | LinkedIn