.spinner
    include /assets/images/logo/spinner-logo.svg
header
    a.header-logo(href="/")
        img(src="/assets/images/logo/header-logo.svg", width="45")
    #trigger-menu
        span
        span
        span
        span
    .menu
        nav
            ul.list-unstyled
                each item in public._data.menu
                    li
                        i.fa.fa-lg(class=item.icon)
                        a(href=item.url)= item.name