header
    a.header-logo(href="/")
        img(src="/assets/images/logo/header-logo.svg", width="45")
    #trigger-menu
        span
        span
        span
        span
    .menu
        nav
            ul.list-unstyled
                each item in public._data.menu
                    li
                        i.fa.fa-lg(class=item.icon)
                        a(href=item.url, target=_.startsWith(item.url, 'http://') ? '_blank' : '')= item.name