.spinner
    include /assets/images/logo/spinner-logo.svg

script(src='/lib/jquery/dist/jquery.min.js')
script(src='/lib/fullpage.js/dist/jquery.fullpage.min.js')
script(src='/lib/mediaCheck/js/mediaCheck.js')
script(src='/lib/animo.js/animo.js')
script(src='/assets/js/main.js')