.team-member.col-md-3.col-xs-6
    img.img-circle.img-fluid.m-x-auto(src="/assets/images/"+member.image_file)
    h2= member.name
    p= member.role
    .social-icons
        each link, network in member.social_profiles
            a(href=link, target="_blank")
                case network
                    when "linkedin"
                        i.fa.fa-linkedin-square
                    when "twitter"
                        i.fa.fa-twitter-square
                    when "legal"
                        i.fa.fa-gavel
                    when "medium"
                        i.fa.fa-medium
                    default
                        i.fa.fa-ellipsis-v