doctype html
head
    title Backfeed
    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='css/main.css')
    - console.log('\n' + new Date().toLocaleTimeString() + '\n'); console.log(JSON.stringify(public, null, '\t'));
body
    p
    | ignore this