.container
    .team-members.row.text-xs-center
        each member in public._data.team.members
            != partial("_partials/team-member", { member: member })
h2 Advisers
.container
    .team-members.row.text-xs-center
        each member in public._data.team.advisers
            != partial("_partials/team-member", { member: member })