.container
    .card-deck
        .card.text-xs-center
            h3.card-header GitHub
            .card-block
                p.card-text lorem ipsum
                a(href="http://github.com/Backfeed", target="_blank")
                    i.fa.fa-lg.fa-github
        .card.text-xs-center
            h3.card-header Technical Summary
            .card-block
                p.card-text lorem ipsum
                a(href="http://github.com/Backfeed", target="_blank")
                    i.fa.fa-lg.fa-file-text
        .card.text-xs-center
            h3.card-header Economic Model
            .card-block
                p.card-text lorem ipsum
                a(href="http://github.com/Backfeed", target="_blank")
                    i.fa.fa-lg.fa-file-text