h1 Explore in Depth
h2
    .container Tapping into the potential of decentralized collaboration
img.hr.hidden-sm-down.center-block(src="/assets/images/hr.png")
.container
    .depth
        p.lead
            | Backfeed builds tools that enable large-scale, free and systematic cooperation between thousands of people without the coordination of any central authority.
        .text-content
            p Ants, birds swarms and schools of fish have at least one thing in common: they can organize in highly complex systems and perform collective tasks in a seemingly intelligent fashion, without any kind of centralized stewardship.
            p Inspired by these stigmergic principles found in nature, Backfeed develops a decentralized protocol that relies on blockchain technologies to provide an indirect coordination mechanism for people to collaborate and cooperate, without the need for any intermediary authority or centralized agency.
h2
    .container Decentralizing the creation and distribution of value
img.hr.hidden-sm-down.center-block(src="/assets/images/hr.png")
.container
    .depth
        p.lead
            | At the core of the Backfeed protocol lies a unique peer to peer evaluation system designed to identify the perceived value of individual contributions to a community and to compensate accordingly.
        .text-content
            p The Backfeed protocol rewards individual contributors through the distribution of tokens and the reallocation of individual influence or reputation within a given community, based on the perceived value of their contributions to that community.
            p The specific rewards granted to contributors and their corresponding influence in the community are calculated automatically by the workings of the protocol (Proof of Value) and do not require any kind of central administration.
        .deep-depth
            .media
                .media-left.hidden-sm-down
                    span.fa-stack
                        i.fa.fa-circle.fa-stack-2x
                        i.fa.fa-info.fa-stack-1x.fa-inverse
                .media-body
                    h3.media-heading
                        span.fa-stack.hidden-md-up
                            i.fa.fa-circle.fa-stack-2x
                            i.fa.fa-info.fa-stack-1x.fa-inverse
                        span.hidden-md-up &nbsp;&nbsp;&nbsp;
                        | Reputation
                    p The Reputation Score is a non-transferable unit of measure that reflects the degree of alignment of a participant within a network of peers. The reputation score determines the influence each user has in the evaluation process of the contributions of other participants. It can be accumulated in two ways: by making a contribution to the network that is perceived as valuable, and by making a useful evaluation of someone else's contribution.
            .media
                .media-left.hidden-sm-down
                    span.fa-stack
                        i.fa.fa-circle.fa-stack-2x
                        i.fa.fa-info.fa-stack-1x.fa-inverse
                .media-body
                    h3.media-heading
                        span.fa-stack.hidden-md-up
                            i.fa.fa-circle.fa-stack-2x
                            i.fa.fa-info.fa-stack-1x.fa-inverse
                        span.hidden-md-up &nbsp;&nbsp;&nbsp;
                        | Value Distribution
                    p Value is distributed via tokens which are issued automatically whenever a contribution is recognized as valuable by the majority of reputation in a network, and collected as a fee whenever an action is performed that requires the attention or evaluation of other users.
                    p Essentially, tokens can represent the equity of a company or a DAO and can be used as the fuel of a Đapp that carries tangible market value like ether-coin and their like.
            .media
                .media-left.hidden-sm-down
                    span.fa-stack
                        i.fa.fa-circle.fa-stack-2x
                        i.fa.fa-info.fa-stack-1x.fa-inverse
                .media-body
                    h3.media-heading
                        span.fa-stack.hidden-md-up
                            i.fa.fa-circle.fa-stack-2x
                            i.fa.fa-info.fa-stack-1x.fa-inverse
                        span.hidden-md-up &nbsp;&nbsp;&nbsp;
                        | Accommodating Diversity
                    p The Backfeed protocol makes it possible for a community’s value system to emerge organically, through the aggregation of individual actions. It also encourages individuals that deviate from it to cluster with other, more like-minded individuals in order to create their own community.
                    p The Backfeed protocol provides that those who are in line with a community’s value system will see their influence within that community increase, at the expense of those who disagree. By doing so, the Backfeed protocol promotes the alignment of individual members towards a specific set of values, while encouraging other, less aligned individuals to fork into different communities with an alternative set of values.
                    p The efficiency of the protocol increases with the number of individuals involved: the more the number of users who participate and the greater the diversity of opinions involved in the process, the better the results the algorithm provides.
h2
    .container Breaking through new and innovative economic models
img.hr.hidden-sm-down.center-block(src="/assets/images/hr.png")
.container
    .depth
        p.lead
            | The Backfeed protocol is the ideal operating system for decentralized organisations of all kinds. It can be molded into a decentralized management tool, an equity sharing scheme, a crowdsourcing mechanism, or as a tool for evaluating and curating information.
        .text-content
            p Our goal is to enable the deployment of decentralized applications (DApps) or decentralized collaborative organisations (DCOs) as easily as one would deploy a website today.
            p If you’d compare the Blockchain to the TCP/IP, the Backfeed protocol would be analogous to the HTTP: it provides the necessary toolkit for people to design and bootstrap decentralized organisations on top of the blockchain, without having to worry about the underlying complexities that such an operation entails.