doctype html
head
    != partial("_partials/head")
body(class="#{current.path} #{current.source}")
    != partial("_partials/header")
    h2.protocol-title
        small The Infrastructure for
        br
        | Decentralized Cooperation
    main#fullpage
        section#intro
            .container
                video#bgvid(autoplay, loop, poster="/assets/images/intro-bg.png")
                    source(src="/assets/intro-video.webm", type="video/webm")
                    source(src="/assets/intro-video.mp4", type="video/mp4")
                .intro-content
                    p.tagline.text-xs-center
                        span(style={"font-size": "42px"}) A Social Operating System
                        br
                        | for Decentralized Organizations
                        br
                        small.tagline Enabling massive open-source collaboration without central coordination
                button.next-section.center-block.btn.btn-clean
                    i.fa.fa-angle-double-down.fa-2x
        section#imagine
            .container
                .row-with-illustration
                    .illustration.hidden-xs-down
                        img(alt="Illustration", src="/assets/images/imagine.png")
                    .text-content
                        h2 Imagine...
                        p Facebook owned by its own users, decentralized transportation networks independent of Uber, markets dominated by open-source communities where contributors are also shareholders, and where the value created is redistributed both fairly and transparently.
                        p Imagine the innovative potential of such organisations decoupled from the rigidities of hierarchical structures. For all this and more…
                        p Backfeed provides the infrastructure for decentralized cooperation
        section#protocol
            .container
                .row
                    h2.protocol-title.text-md-center
                        small The Infrastructure for
                        br
                        | Decentralized Cooperation
                    .protocol-section
                        p.text-md-center Backfeed develops a distributed governance system for blockchain-based applications allowing for the collaborative creation and distribution of value in spontaneously emerging networks of peers.
                        p.hidden-md-up.lead.m-t-3 The Backfeed protocol provides....
                        .protocol-features
                        .hidden-sm-down.text-sm-center
                            a.btn.btn-primary.btn-in-section(href="/explore-in-depth") Explore in Depth
        section#protocol-feature-1.protocol-feature
            .container
                .row
                    .protocol-body.text-xs-center
                        .protocol-icon.icon-dynamic
                        h3.protocol-feature-title.m-b-1 Dynamic Power Distribution
                        p The Backfeed protocol implements a meritocratic governance system, dynamically adjusting the power that every peer enjoys in a decentralized network.
                        a.btn.btn-primary.btn-in-section.hidden-md-up(href="/explore-in-depth") Explore in Depth
        section#protocol-feature-2.protocol-feature
            .container
                .row
                    .protocol-body.text-xs-center
                        .protocol-icon.icon-proof
                        h3.protocol-feature-title.m-b-1 Proof of Value (PoV)
                        p Just as Bitcoin’s Proof of Work (PoW) algorithm rewards miners according to the amount of computational resources provided to the Bitcoin network, Backfeed’s PoV mechanism enables a decentralized network of peers to reach consensus about the perceived value of any contribution within the network, and reward it accordingly.
                        a.btn.btn-primary.btn-in-section.hidden-md-up(href="/explore-in-depth") Explore in Depth
        section#protocol-feature-3.protocol-feature
            .container
                .row
                    .protocol-body.text-xs-center
                        .protocol-icon.icon-diversity
                        h3.protocol-feature-title.m-b-1 Accommodating Diversity
                        p The Backfeed protocol drives communities into consensus by empowering aligned individuals, and translate disagreement into a diversity of networks.
                        a.btn.btn-primary.btn-in-section.hidden-md-up(href="/explore-in-depth") Explore in Depth
        section#applications
            .container
                .row-with-illustration
                    .illustration.hidden-xs-down
                        img(alt="Illustration", src="/assets/images/applications.png")
                    .text-content
                        h2 Applications
                        p Backfeed’s infrastructure comprises decentralized management tools, equity-sharing schemes, crowdsourcing mechanisms, and instruments for the collaborative evaluation and curation of content. The Backfeed protocol can fuel a variety of applications, including decentralized journalism, decentralized insurance, decentrarized ride-sharing applications,t and any other enterprise that would benefit from  the decentralized, indirect coordination of large groups of individuals.
                        p With Backfeed, it will soon be possible to bootstrap decentralized organisations on top of the blockchain as easy as one would deploy a website today.
                        .text-xs-center.text-md-left
                            a.btn.btn-primary.btn-in-section(href="/explore-in-depth") Explore in Depth
        section#partners
            .container-fluid
                h2 Partners
                ul.list-unstyled.row
                    .partners
                        for partner in public.assets.images.partners._contents
                            .partner
                                img(src="/assets/images/partners/#{ partner }")
        section#footer
            .footer-container
                != partial("_partials/footer")
    != partial("_partials/scripts")

