.technical-resources-wrapper
    .container
        h1 Technical Resources
        p.technical-resources-intro.hidden-sm-down Our code, as well as our ideas and philosophy, are open source and work in progress. Please feel invited to review, improve and fork them as you see fit. We are eager for your collaboration.
        ul.resources.list-unstyled
            li
                a(href="http://github.com/Backfeed", target="_blank")
                    span.fa-stack.fa-lg
                        i.fa.fa-circle.fa-stack-2x
                        i.fa.fa-github.fa-stack-1x.fa-inverse
                    | &nbsp; GitHub
            li
                a(href="http://github.com/Backfeed", target="_blank")
                    span.fa-stack.fa-lg
                        i.fa.fa-circle.fa-stack-2x
                        i.fa.fa-file-text.fa-stack-1x.fa-inverse
                    | &nbsp; Technical Summary
            li
                a(href="http://github.com/Backfeed", target="_blank")
                    span.fa-stack.fa-lg
                        i.fa.fa-circle.fa-stack-2x
                        i.fa.fa-file-text.fa-stack-1x.fa-inverse
                    | &nbsp; Economic Model