.technical-resources-wrapper
    .container
        h1 Technical Resources
        //p.technical-resources-intro.hidden-sm-down Lorem ipsum dolor sit amet, consectetur adipiscing elit. In egestas eleifend ex ut bibendum. Morbi ultrices libero ac placerat hendrerit. Cras suscipit lorem ligula, nec facilisis augue feugiat vitae.
        ul.resources.list-unstyled
            li
                a(href="http://github.com/Backfeed", target="_blank")
                    span.fa-stack.fa-lg
                        i.fa.fa-circle.fa-stack-2x
                        i.fa.fa-github.fa-stack-1x.fa-inverse
                    | &nbsp; GitHub
            li
                a(href="http://github.com/Backfeed", target="_blank")
                    span.fa-stack.fa-lg
                        i.fa.fa-circle.fa-stack-2x
                        i.fa.fa-file-text.fa-stack-1x.fa-inverse
                    | &nbsp; Technical Summary
            li
                a(href="http://github.com/Backfeed", target="_blank")
                    span.fa-stack.fa-lg
                        i.fa.fa-circle.fa-stack-2x
                        i.fa.fa-file-text.fa-stack-1x.fa-inverse
                    | &nbsp; Economic Model