footer.row
    .col-md-4
        div Logo
        span social icons
        h2 Subscribe
        input
        button send
    .col-md-4
        h2 Recent Blog Posts
        ul.media-list
            li.media
                .media-left
                    a(href="#")
                        img.media-object(src="http://placehold.it/50x50", alt="Generic placeholder image")
                .media-body
                    h4.media-heading Media heading
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    small Tuesday, 4 may 2015
            li.media
                .media-left
                    a(href="#")
                        img.media-object(src="http://placehold.it/50x50", alt="Generic placeholder image")
                .media-body
                    h4.media-heading Media heading
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    small Tuesday, 4 may 2015
    .col-md-4
        a.twitter-timeline(href="https://twitter.com/Backfeed_cc", data-widget-id="683557020948148224", data-width="300")
        script.
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");