title Backfeed
link(rel='stylesheet', href='assets/css/bootstrap.css')
link(rel='stylesheet', href='lib/fullpage.js/dist/jquery.fullpage.css')
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
link(rel='stylesheet', href='assets/css/main.css')
- console.log('\n' + new Date().toLocaleTimeString() + '\n'); console.log(JSON.stringify(public, null, '\t'));