.overlay
    button.overlay-close Close
    nav
        ul
            each url, name in public._data.menu
                li
                    a(href=url)= name
header
    img(src="/assets/images/logo/header-logo.png")
    button#trigger-overlay.btn.btn-clean
        i.fa.fa-bars.fa-2x