@import "bootstrap";
@import "header";
@import "footer";
@import "menu";
@import "homepage-protocol";
@import "homepage-partners";
@import "explore-in-depth";

#fullpage>section {
  @include make-container();
}

#intro {
  background: url("/assets/images/intro-bg.png");
  color: white;
}

#imagine {
  @include media-breakpoint-down(xs) {
    background: url("/assets/images/imagine-bg.png") no-repeat center center;
    background-size: contain;
    background-origin: content-box;

    p {
      color: #4d4d4d;
    }
  }

  @include media-breakpoint-up(md) {
    .illustration {
      order: 1;
    }
  }
}

#applications {
  @include media-breakpoint-down(xs) {
    background: url("/assets/images/applications-bg.png") no-repeat center center;
    background-size: contain;
    background-origin: content-box;

    @include media-breakpoint-down(md) {
      background-color: $gray;
      color: white;
    }
  }

  .text-content h2 {
    @include media-breakpoint-down(xs) {
      color: white;
    }
  }

  @include media-breakpoint-up(md) {
    background-color: white;

    p {
      color: $body-color;
    }
  }
}

.row-with-illustration {
  @include make-row();
  justify-content: center;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;

  .illustration {
    @include make-col();
    @include media-breakpoint-up(md) {
      @include make-col-span(6);
    }

    img {
      @include img-fluid();
      @include center-block();
    }
  }

  .text-content {
    @include make-col();
    @include media-breakpoint-up(md) {
      @include make-col-span(6);
    }
    @include media-breakpoint-down(xs) {
      @include make-col-span(12);
    }
  }
}

h1 {
  text-align: center;
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.btn-primary {
  padding: 6px 14px;
}

.btn-in-section {
  border-radius: 15px;
  margin-top: 1rem;
}

.btn-clean {
  background: none;
  padding: 0;
}

.tagline {
  font-size: 2.076923076923077rem;
  font-family: 'trajan-sans-pro', sans-serif;
}

small.tagline {
  font-size: 1.230769230769231rem;
}

#fp-nav {
  @include media-breakpoint-down(md) {
    display: none;
  }
  .right {
    right: 10px;
  }
}

.form-group.less-width {
  margin-left: 5%;
  margin-right: 5%;
}

button.next-section {
  position: absolute;
  left: calc(50% - 16.7167px);
  bottom: 10%;
}

#mc_embed_signup{
  background-color: transparent;
}

